body {
	background-color: rgba(0,0,0,0);
	color: #C5C3C6;
	font-size: 1.5em;
	font-family: 'Encode Sans', sans-serif;
	width: 100vw;
	overflow-x: hidden;
}
.App {
	z-index: 1;
}
/*.header {
	height: 10vh;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	margin: 0 0 5vh 0;
	padding: 0;
}*/

.header {
	position: fixed;
	top: 30px;
	left: 30px;
}
.header-logo {
	width: 200px;
	height: auto;
}

/*.header-title {
	font-size: 4em;
	margin: 0;
	padding: 0;
	color: #4C5C68;
	grid-column: 2;
}*/

/*.header-nav {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}*/

.header-nav > li {
	margin: 30px 20px 30px 20px;
	grid-column: 2;
	color: #1985A1;
	font-size: 1.7em;
}

.header-nav a {
	text-decoration: none;
	transition: color 0.5s ease;
}

.header-nav a:visited {
	color: inherit;
}

.header-nav a:hover {
	color: #DCDCDD;
}


.main {
	/*background-color: #1985A1;*/
	/*background: linear-gradient(#313438, #1985A1);*/
	margin: 0;
	padding: 0;
	justify-content: center;
	display: flex;
}

.main-main {
	height: 40vh;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


@font-face {
  font-family: 'NeueHansKendrick-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('NeueHansKendrick-Regular'),
       url('./fonts/NeueHansKendrick-Regular.ttf') format('truetype')
}



.main-name {
	font-size: 5em;
	font-family: "NeueHansKendrick-Regular";
	letter-spacing: .15em;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding: 0;
}
.main-name-alt {
	font-size: 5em;
	font-family: "NeueHansKendrick-Regular";
	letter-spacing: .15em;
	text-transform: uppercase;
	text-align: center;
	color: #8eaf97;
	margin: 0;
	padding: 0;
}

.divider {
	height: 30vh;
}

.section-title {
	font-size: 3em;
	text-align: center;
}
.main-name-container {
	display: flex;
	flex-direction: row;
}
.matt-container {
	display: inline-flex;
}
.pitts-container {
	display: inline-flex;
}
/*.footer {
	background: linear-gradient(90deg, #313438, #8e0000, #313438);
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 5px;
}*/

.title-subtext > h3 {
	margin: 0;
	padding: 0;
	font-family: "NeueHansKendrick-Regular";
	letter-spacing: .1em;
}


.about {
	width: 100%;
	display: grid;
	grid-template-columns: 10% 30% 40% 20%;
	margin: 0;
	padding: 0;
	align-items: center;
}

.headshot {
	width: 90%;
	height: auto;
	border-radius: 50%;
	grid-column: 2;
}

.about-bio {
	text-indent: 2em;
	grid-column: 3;
	margin: 5vh 0 5vh 0;
}

.section-header {
	font-family: "NeueHansKendrick-Regular";
	text-align: center;
	font-size: 2em;
	margin: 0;
}

.projects {
	width: 100%;
	margin: 0;
	padding: 0;
	align-items: center;
}
.project-container {
	padding: 0;
	margin: 0;
	display: flex;
	flex-flow: column;
	align-items: center;
}
.project-name {
	font-family: "NeueHansKendrick-Regular";
	text-align: center;
	font-size: 2em;
	margin: 1em 0 1em 0;
}

.project-division {
	width: 47%;
	padding: 3%;
}

.project-details-container {
	display: flex;
	flex-flow: row;
	margin: 0;
}

.project-icon {
	float: left;
	max-height: 15vh;
	max-width: auto;
	margin-right: 1em;
}

.project-screenshot {
	width: 100%;
	height: auto;
	border-radius: 5%;
}
.project-division > p {
	text-indent: 2em;
	line-height: 1.7em;
}

.project-divider {
	height: 5px;
	width: 60vw;
	background-color: #4C5C68;
	margin: 20px;
}

.three-canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
}

.blue-gradient {
	background: linear-gradient(135deg, rgba(49, 52, 56, .3), rgba(25, 133, 161, .6), rgba(49, 52, 56, .5));
	width: 100%;
	margin: 0;
}
.resume {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.resume-container {
	margin: 5vh 0 5vh 0;
	background-color: white;
	padding: 0;
	width: 612px;
	height: 792px;
	align-self: center;
}
